* {
        font-family: 'Segoe UI', sans-serif;
}

h3 /* "Header Logo text" */
{
        font-size: 24px;
        color: #F9FAF8;
        font-weight: bold;
        display: inline;
}

header a {
        text-decoration: none;
        color: #F9FAF8;
}

header, footer, .intro {
        color: #E5E7EB;
        background-color: #1F2937;
}

footer, .quote, .info {
        text-align: center;
}

.intro {
        color: #e4e4e4;
}

h1 {
        font-size: 48px;
        font-weight: extra-bold;
        color: #F9FAF8;
}

.info {
        color: #374558;
}

h2 {
        font-size: 36px;
        font-weight: extra-bold;
        color: #1F2937;
}

.quote {
        background-color:#E5E7EB;
        font-size: 36px;
        font-weight: light;
        font-style: italic;
        color: #1F2937;
}

.action {
        background-color: #3882F6;
        color: white;
}

button {
        background-color: #3882F6;
        color: white;
        font-weight: bold;
}