.intro {

}

h1 {
        font-size: 48px;
        font-weight: extra-bold;
        color: #F9FAF8;
}


.info {
        font-size: 36px;
        font-weight: extra-bold;
        color: #1F2937;
}

h2 {
        font-size: 36px;
        font-weight: extra-bold;
        color: #1F2937;
}

.quote {
        background-color:#E5E7EB;
        font-size: 36px;
        font-weight: light italic;
        color: #1F2937;
}

.action {
        background-color: #3882F6;
}

button {
        background-color: #3882F6;
}

header, footer, .intro {
        background-color: #1F2937;
}

header, header a {
        color: #E5E7EB;
}

.logo {
        font-size: 24px;
        color: #F9FAF8;
}
